body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;

  /*background-color: #849d8f;*/
}

body.inner-page {
  background-color: #849d8f;
}

input.slider-page-1 {
  position:absolute;
  left: 200px;
  top: 50px;
}

input.slider-page-2 {
  position:absolute;
  left: 220px;
  top: 50px;
}

input.slider-page-3 {
  position:absolute;
  left: 240px;
  top: 50px;
}

input.slider-page-1:checked ~ .container {
  background-color: #849d8f;
}

input.slider-page-2:checked ~ .container {
  background-color: #8996a6;
}

input.slider-page-3:checked ~ .container {
  background-color: #9d8b84;
}

a {
  color: inherit;
  text-decoration: none;
}

.pop-up { /*Всплывающие элементы шапки и форма обратной связи*/
  color: #323232;

  background-color: #f8f7f4;
}

.form-field {
  font: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;

  background-color: #ffffff;

  /*border: 1px solid rgba(178, 178, 178, 0.52);*/
  border: none;
  box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52)
}

.main-header .form-field {
  font-size: 14px;

  /*border: 1px solid #d3d3d2;*/
  box-shadow: 0 0 0 1px #d3d3d2
}

.form-field::placeholder {
  font-weight: 400;
  color: #999999;
  opacity: 1; /*для Firefox*/
}

.form-field:-ms-input-placeholder { /*::placeholder в моем IE не работал*/
  font-weight: 400;
  color: #999999;
}

.form-field:hover {
  /*border: 2px solid rgba(154, 154, 154, 0.52);*/
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.form-field:focus {
  /*border: 2px solid rgba(46, 136, 228, 0.52);*/
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
  outline: none;
}

.button {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;

  background-color: #ffffff;
  background-image: linear-gradient(to top, #ca3824 0%, #f26843 100%);
  opacity: 0.99;

  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
  border: none;
}

.button:hover,
.button:focus {
  color: #fefefe;
  opacity: 1;

  background-color:
    rgba(255, 255, 255, 0.2),
    #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);

  box-shadow: 0 1px 2px #ac1000;
}

.button:active {
  color: #fceeec;
  opacity: 1;

  background-color:
    rgba(0, 0, 0, 0.07),
    #ffffff;
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);

  box-shadow: inset 0 2px 2px #942718;
}

.slider-button {
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  opacity: 1;

  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slider-button:hover,
.slider-button:focus {
  background-color:
    rgba(255, 255, 255, 0.2),
    #ffffff;

  box-shadow: 0 2px 2px #ac1000;
}

.user-navigation-button {
  font: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);

  border: none;
}

.search-button:hover,
.search-button:focus,
.login-button:hover,
.login-button:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.cart-button-nonempty {
  color: #323232;

  background-color: #f8f7f4;
  opacity: 0.99;
}

.main-header {
  font-size: 14px;
  line-height: 16px;
}

.site-navigation {
  list-style: none;
}

.site-navigation-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: #333333;

  background-color: #f7f6f3;

  border: none;
}

.site-navigation-link:active {
  color: #333333;

  background-color: #ededed;  /*???color overlay*/
  background-color: #f8f7f4; /*???*/

  border: none;
  box-shadow: inset 0 2px 1px #696969;
}

.site-navigation-current {
  background-color: #d07058;

  border: none;
}

/*.site-navigation-catalog:hover > a {
  color: #323232;

  background-color: #f7f6f3;
}*/

.catalog-navigation {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
}

.catalog-navigation-new {
  font-weight: 700;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
  background-color: #fbded7;
}

.catalog-navigation a:active {
  background-color: #f6b5a5;
}

.catalog-navigation .catalog-navigation-current,
.catalog-navigation .catalog-navigation-current:hover,
.catalog-navigation .catalog-navigation-current:focus,
.catalog-navigation .catalog-navigation-current:active {
  background-color: #d07058;;
}

.user-navigation {
  list-style: none;
}

.login-form-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.login-form-link:hover,
.login-form-link:focus,
.login-form-link:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.cart {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.cart-delete-button {
  background-color: transparent;
  border: none;
}

.cart-price-per-kg {
  color: #999999;
}

.cart-sum {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.header-contacts {
  font-weight: 700;
  text-align: right;
}

.header-contacts-phone {
  font-size: 22px;
  line-height: 24px;
}

.slider-list {
  list-style: none;
}

.slider-page h3 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}

.slider-page:first-child h3 {
  line-height: 60.35px;
}

.offers-list {
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.offers-list h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.offers-raspberry {
  background-color: #621222;
  background-image: url("../img/background-raspberries.jpg");
  background-repeat: no-repeat;
}

.offers-chocolate {
  background-color: #452b20;
  background-image: url("../img/background-chocolate.jpg");
  background-repeat: no-repeat;
}

.hits-list {
  list-style: none;
}

.catalog-item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item-price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.per-kg {
  font-size: 30px;
}

.features {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #323232;

  background-color: #ede0c5;
  background-image: url("../img/background-waffle-pattern.jpg");
}

.features b {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.newest-article {
  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/background-strawberries.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.newest-article h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.newest-article a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  border-bottom: 2px solid;
}

.newest-article a:hover,
.newest-article a:focus,
.newest-article a:active {
  color: #e84d37;
}

.subscribe {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  background-color: #f8f7f4;
  background-image: url("../img/background-diagonal-lines.png");
}

.subscribe-inner-background {
  width: 95%;
  background-color: #f8f7f4;
}

.main-contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;

  background-color: #ffffff;
}

.main-contacts-bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.main-contacts-phone {
  line-height: 22px;
}

.feedback-modal {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.modal-close-button {
  background-color: transparent;
  border: none;
}

.breadcrumbs {
  list-style: none;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.breadcrumbs a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.filter-form {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filter-form-fieldset {
  background-color: rgba(255, 255, 255, 0.2);

  border: none;
}

.filter-form-fieldset legend {
  font-size: 14px;
  line-height: 16px;
}

select.filter-form-sorting {
  font:inherit;
  color: inherit;

  background-color: transparent;

  border: none;
}

select.filter-form-sorting:hover,
select.filter-form-sorting:focus {
  color: #323232;
}

.filter-form-input,
.filter-form-input + label {
  opacity: 0.8;
}

.filter-form-input:hover,
.filter-form-input:focus,
.filter-form-input:hover + label,
.filter-form-input:focus + label {
  opacity: 1;
}

.filter-form-input:disabled,
.filter-form-input:disabled + label {
  opacity: 0.4;
}

.filter-form-button {
  font: inherit;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);

  /*border: 2px solid #ffffff;*/
  box-shadow: inset 0 0 0 2px #ffffff;
  border: none;
}

.filter-form-button:hover,
.filter-form-button:focus {
  color: #323232;

  background-color: #ffffff;
}

.filter-form-button:active {
  color: #323232;

  background-color: #ededed;

  box-shadow: inset 0 2px 1px #696969;
}

.pagination-list {
  list-style: none;
  text-align: right;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.pagination-link:hover,
.pagination-link:focus {

  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-link:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-link.disabled,
.pagination-link.disabled:hover,
.pagination-link.disabled:focus,
.pagination-link.disabled:active {
  color: #ffffff;
  opacity: 0.2;

  background-color: transparent;
}

.footer-social {
  list-style: none;
}

.social-button {
  opacity: 0.8;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.social-button:hover,
.social-button:focus {
  opacity: 1;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:active {
  opacity: 1;
  /*color overlay #e9e9e9*/
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.footer-links {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.footer-links a,
.footer-copyright-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-links a:hover,
.footer-links a:focus,
.footer-links a:active,
.footer-copyright-link:hover,
.footer-copyright-link:focus,
.footer-copyright-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-link-for-suppliers {
  font-weight: 700;
}

.footer-copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fefefe;
}

.inner-page .footer-links,
.inner-page .footer-copyright {
  line-height: 16px;
}

/*
map
  #e1e1cb



  .catalog-item {
    position: relative;
  }

  .catalog-item-background {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: transparent;
    box-shadow: none;
  }

  .catalog-item-background:hover {
    background-color: #f8f7f4;
    opacity: 0.2;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  }



вход, корзина - шапка
color: #fefefe;

box-shadow: 0 1px 2px #ac1000;
background-color: #e84d37;
background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);

каталог
color: #fefefe;
color: #ffffff;

box-shadow: 0 1px 2px #ac1000;
background-color: #e84d37;
background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);

слайдер
color: #ffffff;

box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
background-color: #ffffff;
background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);

акции
color: #ffffff;

box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
background-color: #ffffff;
background-image: linear-gradient(to top, #ca3824 0%, #f26843 100%);
opacity: 0.99;

подписка, обр.связь, форма обр.связи
color: #fefefe;

box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
background-color: #e84d37;
background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);



  .button {
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #fefefe;

    background-color: #e84d37;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);

    box-shadow: 0 1px 2px #ac1000;
    border: none;
  }

  .button:hover,
  .button:focus {
    background-color:
      rgba(255, 255, 255, 0.2),
      #ffffff;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);

    box-shadow: 0 1px 2px #ac1000;
  }

  .button:active {
    color: #fceeec;

    background-color:
      rgba(0, 0, 0, 0.07),
      #ffffff;
    background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);

    box-shadow: inset 0 2px 2px #942718;
    outline: none;
  }

  main .button {
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  }

  .slider-button {
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;

    background-color: #ffffff;
  }

  .slider-button:hover,
  .slider-button:focus {
    box-shadow: 0 2px 2px #ac1000;
  }

  .offers-button {
    color: #ffffff;

    background-color: #ffffff;
    background-image: linear-gradient(to top, #ca3824 0%, #f26843 100%);
    opacity: 0.99;

    box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
  }
  */
